---
import { getStaticCollectionPaths } from "../utils/i18n";
import { languages } from "../utils/translations";
import ArticleLayout from "../layouts/ArticleLayout.astro";
import UpdateLayout from "../layouts/UpdateLayout.astro";
import DocsLayout from "../layouts/DocsLayout.astro";
import UpdatesLayout from "../layouts/UpdatesLayout.astro";
import GitHubIssue from "../components/GitHubIssue.astro";
import ManagedNote from "../components/ManagedNote.astro";
import KeilaImage from "../components/KeilaImage.astro";
import Email from "../components/Email.astro";

// async import collection
// use in curried path function (which is async)
// use final curried path no await

export async function getStaticPaths() {
  const articlePaths = await getStaticCollectionPaths("articles");
  const updatePaths = await getStaticCollectionPaths("updates");
  const legalPaths = await getStaticCollectionPaths("legal");
  const docsPaths = await getStaticCollectionPaths("docs");

  const updateIndexPaths = languages.map(lang => ({
    params: {slug: lang == "en" ? "updates" : `${lang}/updates`},
    props: { specialType: "updateIndex" }
  }))

  return articlePaths.concat(updatePaths).concat(legalPaths).concat(docsPaths).concat(updateIndexPaths)
}

const { entry, translations, specialType } = Astro.props;

const { Content: DocsContent, components: docsComponents } =
entry?.collection === "docs" ? await entry.render() : {}
---
{
  specialType == "updateIndex" ? (
    <UpdatesLayout />
  ) :
  entry.collection === "articles" || entry.collection === "legal" ? (
    <ArticleLayout {...Astro.props} />
  ) : entry.collection === "updates" ? (
    <UpdateLayout {...Astro.props} />
  ) : entry.collection === "docs" ? (
    <DocsLayout
      title={entry.data.title}
      description={entry.data.description}
      translations={translations}
      contentLanguage={entry.data.lang}
    >
      <DocsContent
        id="content"
        components={{ ...docsComponents, GitHubIssue, KeilaImage, Email, ManagedNote }}
      />
    </DocsLayout>
  ) : (
    <span>Unknown collection</span>
  )
}
