---
import Layout from "../layouts/Layout.astro";
import type { language } from "../utils/translations";
import { useTranslations, getCollectionTranslations } from "../utils/i18n";
import { languages, defaultLang } from "../utils/translations";

import PosterImage from "../assets/screenshots/keila-2024-05-01.png";
import { getCollection } from "astro:content";
import Testimonial from "../components/Testimonial.astro";
import ListItem from "../components/ListItem.astro";
import I18NLink from "../components/I18nLink.astro";
import UpdatesGrid from "../components/UpdatesGrid.astro";

const lang = Astro.currentLocale as keyof typeof ui;
const t = useTranslations(lang);

const entries = await getCollection("landing", ({ id }) =>
  [`${lang}/index.mdx`, `${defaultLang}/index.mdx`].includes(id),
);

const translatedEntry = entries.find(({ id }) => id == `${lang}/index.mdx`);
const entry = translatedEntry || entries[0];
const contentLanguage = translatedEntry ? lang : defaultLang;

const { Content } = await entry.render();

const translations = languages.reduce((translations, lang) => {
  translations[lang] = lang == "en" ? "/" : `/${lang}`;
  return translations;
}, {}) as Map<language, String>;

const updatesCollection = await getCollectionTranslations("updates");
let updates = [];
for (const [i18nId, entryTranslations] of Object.entries(updatesCollection)) {
  const entry = entryTranslations[lang];
  const { title, description, date } = entry.data;
  updates.push({ i18nId, title, description, date });
}
updates.sort(({ date: dateA }, { date: dateB }) => {
  return dateA < dateB ? 1 : -1;
});
updates = updates.slice(0, 6);
---

<Layout
  title={t("landing.title")}
  description={t("landing.description")}
  translations={translations}
  contentLanguage={contentLanguage}
  ogImage={`index_${lang}.png`}
>
  <main>
    <section>
      <div
        class="max-w-6xl mx-auto p-5 md:p-10 text-gray-800 text-lg rounded-t bg-white md:pb-16"
      >
        <div class="prose prose-xl mx-auto sm:my-5">
          <h1>
            {t("landing.h1")}
            <span class="text-green-600">{t("landing.h1.highlight")}</span>
          </h1>

          <p>{t("landing.intro")}</p>

          <div class="flex flex-col sm:flex-row gap-5">
            <a
              href="https://app.keila.io/auth/register"
              class="inline-flex items-center gap-4 px-4 py-4 bg-green-600 text-white font-semibold rounded-lg shadow-sm hover:bg-green-500 hover:shadow-lg no-underline"
            >
              {t("landing.cta")}
            </a>
            <I18NLink
              collection="docs"
              i18nId="installation"
              lang={lang}
              class="inline-flex items-center gap-4 px-4 py-4 bg-green-100 font-semibold rounded-lg shadow-sm hover:bg-green-200 hover:shadow-lg no-underline"
              >{t("landing.cta.self-hosting")}</I18NLink
            >
          </div>
        </div>
        <div>
          <div class="mt-20 -my-4 md:-mb-16">
            <div
              class="border border-1 border-gray-400 xl:-mx-16 shadow-lg rounded overflow-hidden bg-white"
            >
              <div class="h-8 bg-gray-200 flex items-center">
                <div class="bg-red-400 rounded-full w-3 h-3 ml-2"></div>
                <div class="bg-yellow-400 rounded-full w-3 h-3 ml-2"></div>
                <div class="bg-green-400 rounded-full w-3 h-3 ml-2"></div>
              </div>
              <video
                loop
                controls
                class="w-full"
                width="1280"
                height="800"
                poster={PosterImage.src}
              >
                <source src="/keila-20211203.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Content components={{ Testimonial, ListItem, I18NLink }} />

    <section class="bg-white">
      <div class="max-w-6xl mx-auto p-5 md:p-10">
        <div class="prose prose-xl mx-auto">
          <h2>{t("landing.updates.heading")}</h2>
          <UpdatesGrid updates={updates} />
          <a href="/updates">{t("landing.updates.more")}</a>
        </div>
      </div>
    </section>
  </main>

  <style>
    h1 {
      @apply text-5xl mb-0;
    }
  </style>
</Layout>
