---
import axios from "axios";
import GitHub from "./icons/GitHub.astro";
import ChatBubble from "./icons/ChatBubble.astro";
import Heart from "./icons/Heart.astro";

interface Props {
  number: number;
  issue: object;
}

const { number } = Astro.props;

let issue;

try {
  issue = Astro.props.issue
    ? { data: Astro.props.issue }
    : await axios.get(
        `https://api.github.com/repos/pentacent/keila/issues/${number}`,
        {
          headers: {
            Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}`,
          },
        },
      );
} catch (error) {
  console.warn(`Unable to fetch GitHub issue ${number}`, error);
}
---

{
  issue && issue.data && (
    <a
      class="bg-gray-50 hover:bg-gray-100 shadow-sm rounded p-4 flex flex-row gap-4 no-underline ring-1 ring-gray-100"
      href={issue.data.html_url}
      target="_blank"
    >
      <GitHub class="w-8 flex-shrink-0" />
      <span class="flex flex-col">
        <span>
          #{issue.data.number}: {issue.data.title}
        </span>

        <span class="flex flex-row gap-2">
          {issue.data.comments.total_count > 0 && (
            <span class="text-sm flex flex-row gap-1">
              <ChatBubble class="w-5" />
              {issue.data.comments.total_count}
            </span>
          )}
          {issue.data.reactions.total_count > 0 && (
            <span class="text-sm flex flex-row gap-1">
              <Heart class="w-5" />
              {issue.data.reactions.total_count}
            </span>
          )}
        </span>
      </span>
    </a>
  )
}
