---
import axios from "axios";
import GitHub from "./icons/GitHub.astro";
import ChatBubble from "./icons/ChatBubble.astro";

interface Props {
  number: number;
}

const { number } = Astro.props;

let projects;
const assetsBase = "https://libre-friends.silexlabs.org";

try {
  const { data } = await axios.get(
    `https://libre-friends.silexlabs.org/api/projects.json`,
  );
  projects = data
    .sort((a, b) => a.name > b.name)
    .filter((project) => project.name != "Keila");
} catch (error) {
  console.warn(`Unable to fetch Libre Friends JSON`, error);
}
---

<div class="grid md:grid-cols-2 gap-10">
  {
    projects.map((project) => (
      <div class="flex flex-col shadow rounded p-5">
        <div class="flex items-center justify-center h-32">
          <img class="m-0 w-24" src={assetsBase + project.logo} alt="" />
        </div>
        <a href={project.url} target="_blank" class="text-2xl">
          {project.name}
        </a>
        <p>{project.description}</p>
        <div class="flex-grow" />
        <div>
          <p class="text-sm flex flex-row flex-wrap gap-4">
            <a href={project.source} target="_blank">
              Source
            </a>
            {project.docs && (
              <a href={project.docs} target="_blank">
                Docs
              </a>
            )}
            <a href={project.url} target="_blank">
              Website
            </a>
          </p>
          <p class="flex flex-row flex-wrap gap-2">
            {project.tags.map((tag) => (
              <span class="bg-gray-100 py-1 px-2 text-xs rounded">{tag}</span>
            ))}
          </p>
        </div>
      </div>
    ))
  }
</div>
