---
import Layout from "./Layout.astro";
import type { language } from "../utils/translations";
import DocsSidebar from "../components/DocsSidebar.astro";

interface Props {
  title: string;
  description?: string;
  translations: Map<language, String>;
  contentLanguage: string;
  ogImage?: string;
}

const { title, description, translations, contentLanguage, ogImage } =
  Astro.props;
---

<Layout
  title={title}
  description={description}
  translations={translations}
  contentLanguage={contentLanguage}
  ogImage={ogImage}
  fullWidthHeader=true
>
  <div class="grid grid-cols-[20rem,1fr] bg-gray-100 p-5 pb-20 min-h-screen">
    <aside
      class="text-gray-900 pr-5 sticky z-0 top-0 self-start max-h-screen overflow-y-auto"
    >
      <DocsSidebar />
    </aside>
    <main class="3xl:-ml-80">
      <div
        class="mx-auto p-5 md:p-10 text-gray-800 text-lg rounded-t bg-white md:pb-16"
      >
        <div
          id="markdown-content"
          class="prose prose-xl prose-code:before:content-none prose-code:after:content-none prose-code:font-normal prose-code:text-sm prose-code:px-1 prose-code:py-1 prose-code:bg-gray-200 prose-code:rounded-sm mx-auto"
        >
          <slot />
        </div>
      </div>
    </main>
  </div>
</Layout>
